<table
  align="center"
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
  style="padding: 0px 12px 25px 12px"
>
  <tbody>
    <tr>
      <td>
        <p
          style="
                                font-size: 14px;
                                line-height: 24px;
                                margin: 24px 0 0 0;
                                color: #333;
                              "
        >
          Hello
          {{name}},
        </p>
        <p
          style="
                                font-size: 14px;
                                line-height: 24px;
                                margin: 24px 0;
                                color: #333;
                              "
        >
          Wishing you a wonderful birthday filled with joy, laughter, and
          delicious food!
          <br />
          To help make your day extra special, we have credited
          {{loyaltyPoints}}
          in your account.
        </p>

        <a
          href="{{buttonLink}}"
          style="
            line-height: 100%;
            text-decoration: none;
            margin: 10px 0;
            display: block;
            max-width: 100%;
            background-color: {{buttonBgColor}};
            border-radius: 6px;
            color: {{buttonTextColor}};
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding: 10px 25px;
          "
          target="_blank"
        >

          Order Now

        </a>

        <p
          style="
                                font-size: 14px;
                                line-height: 24px;
                                margin: 24px 0px 0px 0px;
                                color: #333;
                              "
        >
          Have a fantastic celebration!
          <br />
          Your
          {{restaurantName}}
          Team
        </p>
      </td>
    </tr>
  </tbody>
</table>